* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::before, *::after {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  letter-spacing: 0.1rem;
  background-color: rgb(245, 245, 245);
}

section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 2rem;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: rgb(100, 100, 100);
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(8, 49, 56);
}

video {
  position: absolute;
  top: 0;
  left: 0;
}

.btn:hover {
  background-color: rgb(34, 224, 210, 0.7);
  backdrop-filter: blur(15px);
  color: #fff;
  transition: all .5s ease;
}

.mg-t-1>*:where(:not(:first-child)) {
  margin-top: 1rem;
}

/* SCROLL UP */
.scrollup{
  position: fixed;
  background-color: rgb(34, 224, 210);
  box-shadow: 1px 1px 5px rgb(0,0,0);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem;
  z-index: 999;
  opacity: .8;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1rem;
  color: #FFF;
}

.scrollup:hover{
 background-color: rgb(34, 224, 210, .7);
  opacity: 1;
}

.show-scroll{
  bottom: 3rem;
}
/*===============HEADER=================*/
.header {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-infos {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 35px;
  margin-top: 1rem;
}

.header-info-links {
  display: flex;
  margin-left: 2rem;
}

.header-info-links>a>i {
  font-size: 1.5rem;
  
}

.header-infos::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 70px;
  left: 0;
}

.header-info-links>a {
  margin-inline: 1rem;
  color: #fff;
}

.header-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.header-contact>a {
  margin-inline: 1rem;
  color: #fff;
  font-size: 1rem;
}

.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__mobile {
  display: none;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 2rem;
  margin-inline: auto;
}

.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.nav__links {
  margin-inline: 1.5rem;
  color: rgba(255, 255, 255, .9)
}

.nav__links:hover {
  color: rgb(10, 238, 215);
}

.mobile-btn__open,
.mobile-btn__close {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 900px) {

  .header {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
  }

  .header-infos {
    display: none;
  }

  .header-infos::after {
    display: none;
  }

  .nav__items {
    margin: 2rem;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -1000px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    transition: 0.6s ease;
    transition-property: right;
    z-index: 1000;
  }

  .header__logo {
    display: none;
  }

  .logo__mobile {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
  }

  .nav__links {
    color: rgb(34, 224, 210, 1);
  }

  .show-menu {
    right: 0;
  }


  .mobile-btn__close {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    margin: 2rem;
    font-size: 30px;
    cursor: pointer;
    color: rgb(34, 224, 210);
    visibility: visible;
  }

  .mobile-btn__open {
    display: block;
    top: 30px;
    right: 10px;
    position: absolute;
    padding: 1rem;
    font-size: 30px;
    cursor: pointer;
    color: rgb(34, 224, 210);
    visibility: visible;
  }
}

/*===============INTRO===============*/
.intro {
  background: url('../img/bc-intro.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}



.box-layer {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1rem;
}

.intro__container {
  position: relative;
  text-align: center;
}

.intro__logo img {
  width: 180px;
}

.intro__title {
  padding: 2rem;
  margin: 0;
  font-weight: 700;
  font-size: 4rem;
  color: rgb(48, 229, 212);
  text-shadow: 1px 1px 2px rgb(194, 194, 194);
}

.intro__container p {
  margin: .625rem 0 2.5rem;
  padding: 0 3rem;
  font-size: 1rem;
  color: rgb(73, 238, 205);
  text-shadow: 1px 1px 10px rgb(194, 194, 194);
}

.btn,
.btn:focus,
.btn:active {
  color: #fff;
  border: none;
  background-color: rgb(34, 224, 211);
  box-shadow: 1px 1px 10px rgb(124, 124, 124);
  border-radius: 10px;
  padding: 12px 34px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  margin-bottom: 4rem;
  transition: all .5s ease;
}

.home__social {
  position: absolute;
  bottom: 0;
  right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(90, 90, 90);
  height: 100%;
}

.home__social-follow {
  writing-mode: vertical-rl;
  padding: 2rem 0;
  position: relative;
}

.home__social-follow::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 1rem;
  background-color: rgb(90, 90, 90);
  left: 50%;
  bottom: 0;
}

.home__social-links {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.home__social-links a {
  color: rgb(90, 90, 90);
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 2.5rem;
  }

  .home__social {
    justify-content: flex-end;
  }
}

/*=============ABOUT============*/

.about {
  display: flex;
  align-items: center;
}

.about__left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.about__right {
  flex: 1;
  padding: 1.5rem 0;
  margin-left: 30px;
}


.about__img {
  width: 520px;
  border-radius: 8px;
}

.about__detail {
  margin: 1rem 0;
}

.about__details-desc {
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: rgb(100, 100, 100);
}

.about__details-icon {
  font-size: 1rem;
  margin-top: 0.15rem;
  color: rgb(34, 224, 210);
}

@media screen and (max-width: 1025px) {
  .about {
    flex-direction: column;
  }

  .about__card {
    width: 100%;
    height: 30vh;
  }
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .about__right {
    margin: 0;
    padding: 0 1rem;
  }

  .about__img {
    width: 300px;
  }

}

/*=====service====*/

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services > h2 {
  text-align: center;
}

.services > h3 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: #474747 3px 5px 2px;
}

.services__box {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}


.box {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  height: 700px;
  width: 500px;
  min-width: 300px;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.box > .btn {
 position: absolute;
 bottom: 0; 
}

.box > .btn:hover {
  transform: scale(1.1);
}

.box > .box-layer {
  border-radius: 20px;
}


#box-1 {
  background: url("/assets/img/residential-cleaning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 3px 3px 13px -2px rgba(155, 155, 140, 0.9);
  -webkit-box-shadow: 3px 3px 9px -2px rgba(155, 155, 140, 0.9);
  -moz-box-shadow: 3px 3px 9px -2px rgba(155, 155, 140, 0.9);
}

#box-2 {
  background: url("/assets/img/move-in-out.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 3px 3px 13px -2px rgba(155, 155, 140, 0.9);
  -webkit-box-shadow: 3px 3px 9px -2px rgba(155, 155, 140, 0.9);
  -moz-box-shadow: 3px 3px 9px -2px rgba(155, 155, 140, 0.9);
}

#box-3 {
  background: url("/assets/img/airbnb.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 3px 3px 13px -2px rgba(155, 155, 140, 0.9);
  -webkit-box-shadow: 3px 3px 9px -2px rgba(155, 155, 140, 0.9);
  -moz-box-shadow: 3px 3px 9px -2px rgba(155, 155, 140, 0.9);
}

.service__details-desc {
  bottom: 0;
  top: 50%;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1266px) {
  .services__box {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 465px) {
  .box {
    width: 50%;
  }
}


/*==================STEPS=================*/

.step {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
}

.step__title span {
  border-left: 0.3rem solid rgb(34, 224, 210);
  padding-left: 0.5rem;
  margin: 1rem 0;
}

.step__title h2 {
  margin: 1rem 0;
}

.card-step {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding: 2rem;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
}

.card {
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card span {
  font-size: 4.5rem;
  font-weight: 600;
  position: absolute;
  top: -40px;
  left: -10px;
  opacity: 0.3;
  filter: blur(4px);
  color: rgb(34, 224, 210);
}

.card h3 {
  margin-bottom: 1rem;
  z-index: 10;
}

.card p {
  margin-bottom: 1rem;
  font-size: 0.825rem;
}

.card a {
  font-size: 1rem;
  color: rgb(8, 49, 56);
}

.card a:hover {
  color: rgba(17, 104, 120, 0.7);
  transition: 0.4s ease;
}

.card i {
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    flex-direction: column;
  }

  .card {
    margin: 2rem 1rem;
    padding: 0;
  }

  .card-step {
    margin: 0;
    padding: 0;

  }
}

/*=====================FAQ=======================*/

.faq {
  width: 100%;
  height: 80vh;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: url("../img/faq.png"); */
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.faq__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 2rem 0;
}

.faq__wrapper>h2 {
  margin-top: 2rem;
  text-align: center;
}

.faq__container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.5rem 0;
  position: relative;
}


.faq__group {
  display: grid;
  row-gap: 1.5rem;
}

.faq__item {
  background-color: #fff;
  border-radius: 0.25rem;
}

.faq__item-title {
  font-size: 1rem;
  font-weight: 300;
}

.faq__icon {
  font-size: 1.25rem;
  color: rgba(100, 100, 100);
}

.faq__description {
  font-size: 0.825rem;
  padding: 0 1.25rem 1.25rem 2.5rem;
}

.faq__header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(194,194,194);
}

.faq__header:hover {
  background-color: rgba(17, 104, 120, 0.2);
}

.faq__content {
  overflow: hidden;
  height: 0;
}

.faq__item,
.faq__header,
.faq__item-title,
.faq__icon,
.faq__description,
.faq__content {
  transition: 0.3s;
}

.faq__item:hover {
  box-shadow: 0 2px 8px rgba(100, 100, 100, 0.5);
}

/*Rotate icon, change color of titles and background*/
.accordion-open .faq__header,
.accordion-open .faq__content {
  background-color: rgba(17, 104, 120);
  backdrop-filter: blue(10px);
}

.accordion-open .faq__item-title,
.accordion-open .faq__description,
.accordion-open .faq__icon {
  color: #fff;
}

.accordion-open .faq__icon {
  transform: rotate(45deg);
}

@media (max-width: 1100px) {
  .faq__container {
    flex-wrap: wrap;
  }

}


/*=============TESTIMONIALS==============*/

.testimonials {
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow-x: hidden;
}

.section-title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}

.section-title p {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

.section-title h2 {
  text-align: center;
  position: relative;
}

.section-separator {
  width: 100%;
  position: relative;
  margin: 20px 0;
}

.section-separator:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 3px;
  width: 50px;
  border-radius: 3px;
  z-index: 2;
  background-color: rgba(17, 104, 120);
  margin-left: -25px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
}

.listing-carousel-button {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  z-index: 100;
  cursor: pointer;
  background: rgb(34, 224, 210);
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.45);
  transition: all 200ms linear;
  outline: none;
}

.listing-carousel-button i {
  color: #fff;
  padding: 1rem 1.5rem;
}

.listing-carousel-button-next {
  right: -30px;
  padding-right: 20px;
  border-radius: 60px 0 0 60px;
}

.listing-carousel-button-prev {
  left: -30px;
  padding-left: 20px;
  border-radius: 0 60px 60px 0;
}

.listing-carousel-button.listing-carousel-button-next:hover {
  right: -15px;
  background: rgba(6, 209, 245, 0.8);
}

.listing-carousel-button.listing-carousel-button-prev:hover {
  left: -15px;
  background: rgba(6, 209, 245, 0.8);
}

.testi-item {
  transition: all .3s ease-in-out;
  transform: scale(0.9);
  opacity: 0.9;
}

.testimonials-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 360px;
  padding: 75px 50px 75px;
  overflow: hidden;
  background: rgb(236, 236, 236);
  border: 1ps solid #f1f1f1;
  border-radius: 0px;
  transition: all .3s ease-in-out;
}

.testimonials-text-after {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #ccc;
  opacity: .3;
  font-size: 35px;
  transition: all 400ms linear;
  bottom: 25px;
  right: 30px;
}

.testimonials-text-before {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #ccc;
  opacity: .3;
  font-size: 35px;
  transition: all 400ms linear;
  top: 25px;
  left: 30px;
}

.testimonials-text .listing-rating {
  float: none;
  display: inline-block;
  margin-bottom: 12px;
}

.listing-rating i {
  color: rgb(223, 226, 21);
}

.testimonials-avatar h3 {
  font-weight: 600;
  color: rgba(6, 209, 245, 0.8);
  font-size: 18px;
}

.testimonials-avatar h4 {
  font-weight: 400;
  font-size: 12px;
  padding-top: 6px;
  color: #858585;
}

.testimonials-carousel .swiper-slide {
  padding: 30px 0;
}

.testi-avatar {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 90px;
  height: 90px;
  margin-left: -45px;
  z-index: 20;
}

.testi-avatar img {
  width: 90px;
  height: 90px;
  float: left;
  border-radius: 100%;
  border: 6px solid #fff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}

.swiper-slide-active .testimonials-text {
  background: #fff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}

.testimonials-text p {
  color: #878c9f;
  font-size: 0.875rem;

  font-style: italic;
  line-height: 1.5rem;
  padding-bottom: 10px;
  font-weight: 500;
}

.text-link {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
  background: #f9f9f9;
  border: 1px solid #eee;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03);
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.swiper-slide-active .testi-item {
  opacity: 1;
  transform: scale(1.0);
}

.tc-pagination {
  margin-top: 30px;
  position: absolute;
}

.tc-pagination_wrap {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
}

.tc-pagination2 {
  float: none;
  display: inline-block;
  padding: 14px 0;
  background: #fff;
  border-radius: 30px;
  min-width: 250px;
  border-bottom: 0;
}

.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet {
  opacity: 1;
  background: rgb(34, 224, 210);
  margin: 0 2px;
  width: 10px;
  height: 10px;
  transition: all 300ms ease-in-out;
}



/*===========CONTACT=============*/
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.contact__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.contact__data {
  display: grid;
  row-gap: 2rem;
}

.contact__subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #3f3f3f;
  margin-bottom: .5rem;
}

.contact__description {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: rgb(34, 224, 210);
  font-weight: 400;
}

.contact__icon {
  font-size: 1.25rem;
}

.contact__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-bottom: 2.5rem;
  width: 40vw;
}

.contact__content {
  position: relative;
  height: 3rem;
  border-bottom: 1px solid #646464;
}

.contact__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  color: black;
  border: none;
  outline: none;
  z-index: 1;
}

.contact__label {
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: 1rem;
  color: rgb(34, 224, 210);
  transition: .3s;
}

.contact__area {
  height: 7rem;
}

.contact__area textarea {
  resize: none;
}

/*Input focus move up label*/
.contact__input:focus+.contact__label {
  top: -.75rem;
  left: 0;
  font-size: var(--smaller-font-size);
  z-index: 10;
}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus)+.contact__label {
  top: -.75rem;
  font-size: 1rem;
  z-index: 10;
}


@media screen and (max-width: 768px) {
  .contact__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .contact__form {
    width: 100%;
    margin: 5rem 0;
  }

  .contact__inputs {
    width: 100%;
  }
}


/*============footer==========*/

.footer {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(90deg, rgb(34, 224, 210), rgb(6, 215, 229));
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-box {
  flex: 1;
  margin: 2rem;
}

.footer-box h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #646464;
  text-decoration: underline;

}

.footer-box p {
  font-size: 1rem;
  padding: .5rem 0;
  color: #646464;
}

.footer-box a {
  display: block;
  font-size: 1rem;
  padding: .5rem 0;
  color: #646464;
}

.footer-box a:hover {
  text-decoration: underline;
}

.footer-box .info {
  display: flex;
  align-items: center;
}

.footer-box .info i {
  margin: .5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  color: #3f3f3f;
  font-size: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
}

.footer .credit {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-top: .1rem solid #fff5;
  padding: 2.5rem 1rem;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}





/*=======ANIMATION===========*/

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}



@media (max-width: 480px) {
  html {
    font-size: 80%;
  }


}

@media (max-width: 768px) {
  html {
    font-size: 95%;
  }
}