
.menu-btn {
    position: absolute;
    color: rgba(0, 110, 88, 0.5);
    font-size: 30px;
    margin: 25px;
    cursor: pointer;
}

.side-bar {
    background: rgba(0, 110, 88, 0.274);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.9s ease-in-out;
    transition-property: left;

    &.active {
        left: 0;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .menu {
        width: 100%;
        margin-top: 80px;

        .item {
            position: relative;
            cursor: pointer;

            a {
                color: #ffffff;
                font-size: 16px;
                text-decoration: none;
                display: block;
                padding: 5px 30px;
                line-height: 60px;

                &:hover {
                    background: #4ce2fd42;
                    transition: 0.3s ease-in-out;
                }
            }
            i {
                margin-right: 15px;
            }

            .dropdown {
                position: absolute;
                right: 0;
                margin: 20px;
                transition: 0.3s ease-in-out;
            }

            .sub-menu {
                background: rgba(255, 255, 255, 0.349);
                display: none;

                a {
                    padding-left: 80px;
                }
            }
        }
    }
    .rotate {
        transform: rotate(90deg);
    }

    .close-btn {
        position: absolute;
        color: #fff;
        font-size: 30px;
        right: 0;
        margin: 25px;
        cursor: pointer;
    }
}
