.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/background50.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
      
        h1 {
            color: #8DDCD6;
            font-size: 60px;
            text-align: center;
            line-height: 80px;
        }

        .intro-services {
            display: flex;
            align-items: center;
            color: #8DDCD6;
            

            h3 {
                margin: 10px;
            }
        }
    }
}

